@model IEnumerable<VehicleCompany.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

@{
    var userPermissions = User.Claims
        .Where(c => c.Type == "Permission")
        .Select(c => c.Value)
        .ToList();
}

<h1>Поездки</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                id маршрута
            </th>
            <th>
                Начало поездки
            </th>
            <th>
                Конец поездки
            </th>
            <th>
                id назначенного транспорта
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Route_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assigned_vehicle)
            </td>
            <td>

    @if (userPermissions.Contains("edit_trip"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Изменить</a>
                    }
                    @* <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> *@


                    @if (userPermissions.Contains("delete_trip"))
                {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" >Удалить</a>
                    }
                @if (userPermissions.Contains("Finish_trip"))
                {
                <a asp-action="FinishConfirmed" asp-route-id="@item.Id" class="btn btn-success">
                            <i class="btn-check"></i> Завершить поездку
                </a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
